<!DOCTYPE html>
%html{:lang => "en"}
	%head
		%meta{:charset => "UTF-8"}/
		%title Default

		%link{:rel => "stylesheet", :href => "assets/styles/build/production.min.css"}/
	%body
		.task
			.rating.mcenter
		.task
		.task
			.textblock
				.textblock__wrap.mcenter
					.textblock__title Параметры модели

					%h2 Вариант 1 - через список с обтеканием и клиром
					%ul.textblock__list
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Диагональ экрана
							%span.textblock__item__value 15.6" (39.6 см)
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Диагональ экрана
							%span.textblock__item__value 15.6" (39.6 см)
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Диагональ экрана
							%span.textblock__item__value 15.6" (39.6 см)
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Тип подсветки экрана
							%span.textblock__item__value Светодиодная
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Тип подсветки экрана
							%span.textblock__item__value Светодиодная
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Тип подсветки экрана
							%span.textblock__item__value Светодиодная
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Поверхность экрана
							%span.textblock__item__value Матовая
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Поверхность экрана
							%span.textblock__item__value Матовая
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Поверхность экрана
							%span.textblock__item__value Матовая
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Разрешение экрана
							%span.textblock__item__value 1366x768
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Разрешение экрана
							%span.textblock__item__value 1366x768
						%li.textblock__item.textblock__list__item
							%span.textblock__item__title Сайт производителя
							%span.textblock__item__value
								%a{href:"#"} http://site.com

					%h2 Вариант 2 - через колонки
					.textblock__column
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Диагональ экрана
							%span.textblock__item__value 15.6" (39.6 см)
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Тип подсветки экрана
							%span.textblock__item__value Светодиодная
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Поверхность экрана
							%span.textblock__item__value Матовая
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Разрешение экрана
							%span.textblock__item__value 1366x768
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Диагональ экрана
							%span.textblock__item__value 15.6" (39.6 см)
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Тип подсветки экрана
							%span.textblock__item__value Светодиодная
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Поверхность экрана
							%span.textblock__item__value Матовая
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Разрешение экрана
							%span.textblock__item__value 1366x768
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Диагональ экрана
							%span.textblock__item__value 15.6" (39.6 см)
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Тип подсветки экрана
							%span.textblock__item__value Светодиодная
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Поверхность экрана
							%span.textblock__item__value Матовая
						%p.textblock__item.textblock__column__item
							%span.textblock__item__title Сайт производителя
							%span.textblock__item__value
								%a{href:"#"} http://site.com

		.task
		.task
			.menu.center.mcenter
				%a.block.menu__item.fleft
					%i.iblock.icon.ico-menu-refresh
					%span.iblock Refresh
				%a.block.menu__item.fleft
					%i.iblock.icon.ico-menu-gear
					%span.iblock Settings
				%a.block.menu__item.fleft
					%i.iblock.icon.ico-menu-user
					%span.iblock User

		%script{src: 'assets/js/build/production.min.js'}
	
