footer.footer
	.wrapper
		.row
			.large-2.columns
				a.button.button__footer(href="") Стать стилистом
				
			ul.footer__nav.large-4.columns
				li.footer__nav__item
					a(href="") О проекте
				li.footer__nav__item
					a(href="") Помощь
				li.footer__nav__item
					a(href="") Партнерам
			.large-6.columns
				вфыв

	.wrapper.wrapper_row
		.footer__credits
			span.footer__credits__item © 2014 Smena
			a.footer__credits__item(href="") Пользовательское соглашение
			a.footer__credits__item(href="mailto:support@smena.ru") support@smena.ru