header.header.header_inner
	a.sprite_logo_inner.icon.header__logo(href="")

	nav.header__nav
		ul.header__nav__list
			li.header__nav__item
				a(href="") Стилисты
			li.header__nav__item
				a(href="") Помощь
			li.header__nav__item
				a(href="") Блог
			li.header__nav__item
				a(href="") Вход
			li.header__nav__item
				a(href="") Регистрация
.header__padding