.features
	padding 35px 0 25px
	background $clr_grey_bg
	text-align center
	position relative
	
	&::after
		content ''
		display block
		background $clr_grey_bg
		position absolute
		bottom -20px
		left 50%
		margin-left -20px
		transform rotate(45deg)
		size(40px, 40px)