.footer
	background #252525
	padding-top 35px
	color white
	
	&__nav
		font-weight 600
		margin 0px 0px 40px
		font(14px, 37px)
		&__item
			display inline-block
			margin-right 20px
			
	&__credits
		text-align center
		border-top: 1px solid #4e4e4e
		padding: 20px 0px
		font-weight 400
		font(12px, 10px)
		
		& span
			color #b3b3b3
		
		&__item
			margin 0px 15px