.profile
	
	&__photo
		& img
			display block
			border-radius 360px
			overflow hidden
			margin-bottom 25px
	
	&__btn
		text-align center
		display inline-block
		border 1px solid $clr_separator_grey
		border-radius 3px
		padding 12px 0 8px
		width 100%
		font(16px, 14px)