.reports
	background: #f0f0f0
	padding 45px 0 80px
	text-align center
	
	&__image
		display block
		overflow hidden
		margin-bottom 20px
		border-radius 360px
		
	&__username
		font-weight: 600;
		margin-bottom 5px
		font(20px, 24px)
		
	&__lead
		color #5d5d5d
		font(14px, 20px)