//Global styles
body
	font-size: 14px
	background: #fff
	color $clr_base

.wrapper
	width 960px
	margin auto
	clearfix()
	
	&_row
		padding 0 0.9375rem
	
.mcenter
	margin: auto
	
.title
	font-weight: 400
	text-align center
	margin-bottom 40px
	font(40px, 50px)


.icon
	display inline-block