
@font-face {
	font-family: 'Circe';
	src: url('../../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
			 url('../../fonts/Circe-ExtraLight.otf')  format('opentype'),
			 url('../../fonts/Circe-ExtraLight.woff') format('woff'),
			 url('../../fonts/Circe-ExtraLight.ttf')  format('truetype'),
			 url('../../fonts/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
			 url('../../fonts/Circe-Light.otf')  format('opentype'),
			 url('../../fonts/Circe-Light.woff') format('woff'),
			 url('../../fonts/Circe-Light.ttf')  format('truetype'),
			 url('../../fonts/Circe-Light.svg#Circe-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
			 url('../../fonts/Circe-Regular.otf')  format('opentype'),
			 url('../../fonts/Circe-Regular.woff') format('woff'),
			 url('../../fonts/Circe-Regular.ttf')  format('truetype'),
			 url('../../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../../fonts/Circe-Bold.otf')  format('opentype'),
			 url('../../fonts/Circe-Bold.woff') format('woff'),
			 url('../../fonts/Circe-Bold.ttf')  format('truetype'),
			 url('../../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'), 
			 url('../../fonts/Circe-ExtraBold.otf')  format('opentype'),
			 url('../../fonts/Circe-ExtraBold.woff') format('woff'),
			 url('../../fonts/Circe-ExtraBold.ttf')  format('truetype'),
			 url('../../fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
	font-weight: 700;
	font-style: normal;
}
