<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Первый документ

		link(rel="stylesheet", href="assets/styles/build/foundation.css")
		link(rel="stylesheet", href="assets/styles/build/production.min.css")
	body
		a.logo(href="")

		footer.footer
			.wrapper
				.row
					.footer__btn.large-2.columns
						фыв
					ul.footer__nav.large-4.columns
						li.footer__nav__item
							a.footer__nav__link(href="") О проекте
						li.footer__nav__item
							a.footer__nav__link(href="") Помощь
						li.footer__nav__item
							a.footer__nav__link(href="") Партнерам
					.large-6.columns
						вфыв