<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Первый документ

		link(rel="stylesheet", href="foundation/css/app.css")
		link(rel="stylesheet", href="assets/styles/build/production.min.css")
	body
		a.logo(href="")

		section.features
			p.heading Как работает Smena?
			.wrapper

		section.catalog
			p.heading Бесплатные смены
			.wrapper
				.catalog__list
					.row
						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист
								
						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист
					.row
						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист
								
						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

				.row
					.large-2.columns.large-centered
						a.button.button__catalog(href="") Все смены

		section.reports
			p.heading Отзывы клиентов
			.wrapper
				.row
					.large-3.columns
						img.reports__image(src="http://www.avatar-mix.ru/avatars_200x200/1425.jpg", alt="")
						.reports__username Ася Нежданная
						p.reports__lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
					.large-3.columns
						img.reports__image(src="http://zano.ru/avatar/images/200j009.jpg", alt="")
						.reports__username Антон Ершов
						p.reports__lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
					.large-3.columns
						img.reports__image(src="http://zano.ru/avatar/images/200j036.jpg", alt="")
						.reports__username Алина Андреева
						p.reports__lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
					.large-3.columns
						img.reports__image(src="http://zano.ru/avatar/images/200j064.jpg", alt="")
						.reports__username Сергей Баргамон
						p.reports__lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.

		footer.footer
			.wrapper
				.row
					.large-2.columns
						a.button.button__footer(href="") Стать стилистом
						
					ul.footer__nav.large-4.columns
						li.footer__nav__item
							a(href="") О проекте
						li.footer__nav__item
							a(href="") Помощь
						li.footer__nav__item
							a(href="") Партнерам
					.large-6.columns
						вфыв

				.footer__credits
					span.footer__credits__item © 2014 Smena
					a.footer__credits__item(href="") Пользовательское соглашение
					a.footer__credits__item(href="mailto:support@smena.ru") support@smena.ru

