<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Первый документ

		link(rel="stylesheet", href="foundation/css/app.css")
		link(rel="stylesheet", href="assets/styles/build/production.min.css")
	body
		header.header
			a.sprite_logo.header__logo(href="")

			nav.header__nav
				ul.header__nav__list
					li.header__nav__item
						a(href="") Стилисты
					li.header__nav__item
						a(href="") Помощь
					li.header__nav__item
						a(href="") Блог
					li.header__nav__item
						a(href="") Вход
					li.header__nav__item
						a(href="") Регистрация

		
		.heading.heading_centered
			.wrapper
				h1.heading Бесплатные смены


		.catalog_inner
			.wrapper
				.catalog__list
					.row
						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист
								
						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист
								
						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист
								
						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист

						.catalog__list__item.large-3.columns
							.catalog__photo
								.catalog__clothes
									img.catalog__clothes__item(src="images/catalog_clothes1.png")
									img.catalog__clothes__item(src="images/catalog_clothes2.png")
									img.catalog__clothes__item(src="images/catalog_clothes3.png")
									img.catalog__clothes__item(src="images/catalog_clothes4.png")

								img(src="images/catalog_photo.jpg")
							
								.catalog__overlay

							.catalog__stylist
								a.catalog__stylist__photo
									img(src="images/catalog_stylist.jpg")
								a.catalog__stylist__name Василий Степанов
								.catalog__stylist__label Стилист
			
			.pagination-centered
				ul.pagination
					li.arrow.unavailable
						a(href='') «
					li.current
						a(href='') 1
					li
						a(href='') 2
					li
						a(href='') 3
					li
						a(href='') 4
					li.unavailable
						a(href='') …
					li
						a(href='') 12
					li
						a(href='') 13
					li.arrow
						a(href='') »
						
		footer.footer
			.wrapper
				.row
					.large-2.columns
						a.button.button__footer(href="") Стать стилистом
						
					ul.footer__nav.large-4.columns
						li.footer__nav__item
							a(href="") О проекте
						li.footer__nav__item
							a(href="") Помощь
						li.footer__nav__item
							a(href="") Партнерам
					.large-6.columns
						вфыв

				.footer__credits
					span.footer__credits__item © 2014 Smena
					a.footer__credits__item(href="") Пользовательское соглашение
					a.footer__credits__item(href="mailto:support@smena.ru") support@smena.ru