<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Каталок стилистов

		link(rel="stylesheet", href="foundation/css/app.css")
		link(rel="stylesheet", href="assets/styles/build/production.min.css")
	body
		include includes/header_inner.jade
		
		.heading.heading_centered
			.wrapper
				h1.title Стилисты

		.filters
			.wrapper.wrapper_row
				.filters__list
					a.filters__item.active(href="")
						| Стилистов
						span.filters__count 545 
					a.filters__item(href="")
						| Свободных стилистов
						span.filters__count 545 

		.catalog_inner
			.wrapper
				.stylist__list
					.row
						- for (var i=0; i<12; i++)
							.stylist__item.large-3.columns
								.catalog__photo
									img(src="images/stylist_220.jpg")
									.catalog__overlay
										i.icon.sprite_watch

								.stylist__info
									a.stylist__name(src="")
										| Василиcа Степанова

									.rating.rating_stylist
										i.icon.rating__item.state_full
										i.icon.rating__item.state_full
										i.icon.rating__item.state_full
										i.icon.rating__item
										i.icon.rating__item

									.stylist__summary
										.stylist__summary__item.count
											span.block 24
											| Смены
										.stylist__summary__item.status
											span.block
												.icon.sprite_status_ok_small
											| Свободен

			
			.pagination-centered
				ul.pagination
					li.arrow.unavailable
						a(href='') «
					li.current
						a(href='') 1
					li
						a(href='') 2
					li
						a(href='') 3
					li
						a(href='') 4
					li.unavailable
						a(href='') …
					li
						a(href='') 12
					li
						a(href='') 13
					li.arrow
						a(href='') »

		include includes/footer.jade