<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Первый документ

		link(rel="stylesheet", href="foundation/css/app.css")
		link(rel="stylesheet", href="assets/styles/build/production.min.css")
	body
		header.header.header_inner
			a.sprite_logo_inner.icon.header__logo(href="")

			nav.header__nav
				ul.header__nav__list
					li.header__nav__item
						a(href="") Стилисты
					li.header__nav__item
						a(href="") Помощь
					li.header__nav__item
						a(href="") Блог
					li.header__nav__item
						a(href="") Вход
					li.header__nav__item
						a(href="") Регистрация

		
		.heading.heading_centered
			.wrapper
				h1.heading Стилисты

		.filters
			.wrapper.wrapper_row
				.filters__list
					a.filters__item.active(href="")
						| Стилистов
						span.filters__count 545 
					a.filters__item(href="")
						| Свободных стилистов
						span.filters__count 545 

		.catalog_inner
			.wrapper
				.stylist__list
					.row
						- for (var i=0; i<12; i++)
							.stylist__item.large-3.columns
								.catalog__photo
									img(src="images/stylist_220.jpg")
									.catalog__overlay

								.stylist__info
									a.stylist__name(src="")
										| Василиcа Степанова

									.stylist__rating
										.icon.stylist__rating__item_full
										.icon.stylist__rating__item_full
										.icon.stylist__rating__item_full
										.icon.stylist__rating__item
										.icon.stylist__rating__item

									.stylist__summary
										.stylist__summary__item.count
											span 24
											| Смены
										.stylist__summary__item.status
											span.icon
											| Свободен

			
			.pagination-centered
				ul.pagination
					li.arrow.unavailable
						a(href='') «
					li.current
						a(href='') 1
					li
						a(href='') 2
					li
						a(href='') 3
					li
						a(href='') 4
					li.unavailable
						a(href='') …
					li
						a(href='') 12
					li
						a(href='') 13
					li.arrow
						a(href='') »
						
		footer.footer
			.wrapper
				.row
					.large-2.columns
						a.button.button__footer(href="") Стать стилистом
						
					ul.footer__nav.large-4.columns
						li.footer__nav__item
							a(href="") О проекте
						li.footer__nav__item
							a(href="") Помощь
						li.footer__nav__item
							a(href="") Партнерам
					.large-6.columns
						вфыв
			
			.wrapper.wrapper_row
				.footer__credits
					span.footer__credits__item © 2014 Smena
					a.footer__credits__item(href="") Пользовательское соглашение
					a.footer__credits__item(href="mailto:support@smena.ru") support@smena.ru