.icon-mashina_090001 {
  background-image: url("../../images/build/sprite.png");
  background-position: 0px 0px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090007 {
  background-image: url("../../images/build/sprite.png");
  background-position: 0px -264px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090013 {
  background-image: url("../../images/build/sprite.png");
  background-position: 0px -528px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090019 {
  background-image: url("../../images/build/sprite.png");
  background-position: 0px -792px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090025 {
  background-image: url("../../images/build/sprite.png");
  background-position: 0px -1056px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090031 {
  background-image: url("../../images/build/sprite.png");
  background-position: 0px -1320px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090037 {
  background-image: url("../../images/build/sprite.png");
  background-position: 0px -1584px;
  width: 385px;
  height: 264px;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  background: #fff;
}
.task {
  padding: 60px 0px;
}
.task:nth-child(odd) {
  background: #e2fffe;
}
.mcenter {
  margin: auto;
}
h2 {
  font-size: 1.6em;
  margin-top: 20px;
}
