.fleft {
  float: left;
}
.fright {
  float: right;
}
.block {
  display: block;
}
.iblock {
  display: inline-block;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}
.clear {
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
}
.task {
  padding: 60px 0px;
}
.task:nth-child(odd) {
  background: #e2fffe;
}
.mcenter {
  margin: auto;
}
h2 {
  font-size: 1.6em;
  margin-top: 20px;
}
.textblock {
  border-top: 2px solid #f2f2f2;
  padding-top: 35px;
}
.textblock__wrap {
  width: 960px;
}
.textblock__title {
  font-size: 2.4em;
  line-height: 1em;
}
.textblock__item {
  min-width: 200px;
  font-size: 1.6em;
  line-height: 1.9em;
}
.textblock__item__value {
  display: block;
}
.textblock__item__value a {
  color: #fa36b7;
}
.textblock__item__title {
  color: #8d8d8d;
  display: block;
}
.textblock__list {
  margin: 40px 0 0 20px;
}
.textblock__list:before,
.textblock__list:after {
  content: " ";
  display: table;
}
.textblock__list:after {
  clear: both;
}
.textblock__list__item {
  margin-left: 160px;
  float: left;
}
.textblock__list__item:nth-child(3n+1) {
  clear: left;
  margin-left: 0px;
}
.textblock__column {
  margin: 40px 0 0 20px;
  -webkit-column-width: 200px;
     -moz-column-width: 200px;
          column-width: 200px;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
}
.menu {
  width: 990px;
}
.menu:before,
.menu:after {
  content: " ";
  display: table;
}
.menu:after {
  clear: both;
}
.menu__item {
  background: #0fb44b;
  width: 330px;
  text-align: center;
  color: #fff;
  position: relative;
  padding: 15px 0;
  font-size: 2em;
  line-height: 2em;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.menu__item::before {
  content: '';
  background: #57ca81;
  display: block;
  width: 1px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 0px;
}
.menu__item:hover {
  background: #0ea445;
  text-decoration: none;
}
.menu__item:hover::before {
  display: none;
}
.menu__item:first-child::before {
  display: none;
}
.menu__item > * {
  vertical-align: middle;
}
