.icon {
  background: url( '../../images/build/spritesheet.png' ) no-repeat;
  background-size: 52px 52px;
}

.icon.ico-menu-gear {
  width: 26px;
  height: 26px;
  background-position: 0px 0px;
}

.icon.ico-menu-refresh {
  width: 26px;
  height: 26px;
  background-position: -26px 0px;
}

.icon.ico-menu-user {
  width: 23px;
  height: 26px;
  background-position: 0px -26px;
}

