.icon {
  background: url( '../../images/build/spritesheet.png' ) no-repeat;
  background-size: 39px 23px;
}

.icon.ico-message {
  width: 14px;
  height: 10px;
  background-position: 0px 0px;
}

.icon.ico-menu-gear {
  width: 13px;
  height: 13px;
  background-position: 0px -10px;
}

.icon.ico-menu-refresh {
  width: 13px;
  height: 13px;
  background-position: -14px 0px;
}

.icon.ico-menu-user {
  width: 12px;
  height: 13px;
  background-position: -27px 0px;
}

.icon.ico-rating-default {
  width: 8px;
  height: 8px;
  background-position: -27px -13px;
}

.icon.ico-rating-hover {
  width: 8px;
  height: 8px;
  background-position: -14px -13px;
}



@media (min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
.icon {
  background: url( '../../images/build/spritesheet@2x.png' ) no-repeat;
  background-size: 38.5px 22.5px;
}

}
