/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-ico-menu-refresh {
  background-image: url(../../images/build/sprite.png);
  background-position: 0px 0px;
  width: 52px;
  height: 52px;
}
.icon-ico-menu-user {
  background-image: url(../../images/build/sprite.png);
  background-position: -62px 0px;
  width: 46px;
  height: 52px;
}
.icon-ico-message {
  background-image: url(../../images/build/sprite.png);
  background-position: 0px -62px;
  width: 56px;
  height: 38px;
}
.icon-ico-rating-default {
  background-image: url(../../images/build/sprite.png);
  background-position: -66px -62px;
  width: 32px;
  height: 30px;
}
.icon-ico-rating-hover {
  background-image: url(../../images/build/sprite.png);
  background-position: -118px 0px;
  width: 32px;
  height: 30px;
}
