/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-mashina_090001 {
  background-image: url(../../images/build/sprite.png);
  background-position: 0px 0px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090007 {
  background-image: url(../../images/build/sprite.png);
  background-position: -395px 0px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090013 {
  background-image: url(../../images/build/sprite.png);
  background-position: 0px -274px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090019 {
  background-image: url(../../images/build/sprite.png);
  background-position: -395px -274px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090025 {
  background-image: url(../../images/build/sprite.png);
  background-position: -790px 0px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090031 {
  background-image: url(../../images/build/sprite.png);
  background-position: -790px -274px;
  width: 385px;
  height: 264px;
}
.icon-mashina_090037 {
  background-image: url(../../images/build/sprite.png);
  background-position: 0px -548px;
  width: 385px;
  height: 264px;
}
